{% extends "autoparts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% for item in cart %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">quantity: {{ item.quantity }}</a>
            </div>
            <h2><a class="article-title">{{ item.product_name }}</a></h2>
            <a href="{% url 'product-delete' item.product_id cart_id %}" class=”button-link”>
                <small>Remove item</small>
            </a>
        </div>
    </article>
    {% endfor%}
    <div class="row my-4">
        <div class="col-md-6 offset-md-3">
            <div class="border p-3 bg-white">
                <h3>Delivery</h3>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                    {{ form|crispy }}
                    </fieldset>
                    <a class="btn" href="{% url 'deliver' user.id %}">provide datetime</a>
                    <input class="btn btn-success" type="submit" value="Confirm">
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
