{% extends "autoparts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">in stock</a>
        </div>
        {% for product in products %}
            {% if product.id == id %}
                <h2><a class="article-title" href="#">{{ product.name }}</a></h2>
                <p class="article-content">{{ product.details }}</p>
            {% endif %}
        {% endfor %}
    </div>
</article>
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
        {{ form|crispy }}
        </fieldset>
        <input class="btn btn-success btn-block" type="submit" value="Add to cart">
    </form>
</div>
{% endblock content %}